<!DOCTYPE html>
<html>
<head>
	<title>VIMI</title>

	<!-- favicon -->
	<link rel="icon" href="./images/logo.png?v=1">

	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<!-- Style sheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel='stylesheet' href='css/main.css'>
	<link rel='stylesheet' href='css/menu.css'>
  <link rel='stylesheet' href='css/profile.css'>
	<link rel='stylesheet' href='css/about.css'>
	<link rel='stylesheet' href='css/meal.css'>
	<link rel='stylesheet' href='css/loading.css'>

  <link rel='stylesheet' href='css/menu-phone.css'>
	<link rel='stylesheet' href='css/about-phone.css'>

	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>
<body>

  <div class='col-xs-12 confirmation success'></div>
  <div class='col-xs-12 confirmation failure'></div>

	<div id='root'></div> <!-- Here goes root node -->

	<!-- Javascript -->
  <script src="https://use.fontawesome.com/8356abaf73.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='js/store.js'></script>
	<script src='js/bundle.js'></script>
</body>
</html>
