.about-banner {
  padding-top: 25%;
  color: #262f36;
  background-image: url('../images/about/bg.jpg');
  height: 100vh;
}

.about-text {
  margin: 20px;
}

.about-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-section .img{
  width: 128px;
  height: 128px;
  margin: auto;
}

.about-section img {
  height:100%;
  width: 100%;
}

/*.section-3, .section-5{
    background-color: #ea846d;
    color: white;
}*/

.section-5 {
  padding: 50px;
}

.section-5 .btn {
  width: 100%;
  height: 50px;
}
