.menu {
  margin-top: 5vh;
  height: 40vh;
}

.restaurant-banner {
  padding-top: 15vh;
  height: 60vh;
  color: white;
  background-image: url('../images/home/bg.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.rating-container {
  padding: 2vh;
  color: white;
  background-color: #262f36;
  border-bottom: 2px solid #c14820;
}

.star {
  margin-right: 5px;
}

.star:hover {
  color: #c14820;
  cursor: hand;
  cursor: pointer;
}
