/*
red color: #9c231c;
orange color: #c14820;
light orange: #ea846d;
dark blue: #262f36;
success color: #2ecc71;
failure color: #e74c3c;
*/


html, body, #root {
	font-family: 'Roboto', 'Open sans', sans-serif;
  color: #504f4f;
  background-color: #ffffff;
}

.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.margin-right-5 {
	margin-right: 5px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.green-label {
	padding:5px 11px 5px 11px;
  border-radius: 3px;
  border: 1px solid #ecf0f1;
  color: white;
  font-weight: bold;
  background-color: #2ecc71;
}

.basic-input{
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.red-btn {
	color: white;
	border-color: white;
	background-color: #c14820;
	transition: all .5s;
  padding-left: 20px;
  padding-right: 20px;
	text-transform: uppercase;
}

.red-btn:hover {
  color: white;
	background-color: #ea846d;
}

.red-btn:focus {
  color: white;
	border-color: white;
	background-color: #c14820;
	outline: none;
}

.label-default {
	background-color: #ecf0f1;
}

.confirmation {
	display: none;
	position:fixed;
  padding: 20px;
	width: 100%;
	text-align: center;
	font-size: 18px;
	z-index:10000;
  color: white;
}

.failure {
	background-color: #e74c3c;
}

.success {
	background-color: #2ecc71;
}

.red-text {
  color: #c14820;
}

/*LOADING*/

.loading-background {
	display: none;
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width:100%;
	background-color: transparent;
}

.loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -85px;
	margin-left: -85px;
	z-index: 30001;
}

/*MODAL*/

.modal-header, .modal-footer, .modal-body{
  border: 0;
  clear: both;
}

.modal-header {
  margin-bottom: 10px;
}

.modal-footer {
  margin-top: 10px;
}

/*NAVBAR*/

.navigation-bar {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0 40px 0 40px;
}

.navigation-bar .btn a, .navigation-bar .btn a:hover {
  text-decoration: none;
  color: white;
}

.navigation-bar .btn, .navigation-bar .logo {
  margin: 10px 5px 10px 0;
}

/*BANNER*/

.banner {
	position: relative;
  font-weight: bold;
  background-repeat:no-repeat;
  background-size: cover;
}

.banner .title {
  font-size: 500%;
  margin: 0 0 15px 0;
}

.banner .subtitle {
  margin: 0 0 15px 0;
}

/*FOOTER*/
footer{
  background-color: #262f36;
  width: 100%;
  height: 10vh;
  padding: 40px 0 40px 0;
  text-align: center;
}

footer span{
  margin: 0 10px 0 0;
}
