html, body {
  height: 100%;
	font-family: 'Open Sans', sans-serif;
  color: #504f4f;
  background-color: #ecf0f1;
}

/*GENERAL*/

.page, .page-row, .page-container{
  height: 100%;
}

.page-header {
	border: none;
}

.red-btn {
	color: white;
	border-color: transparent;
	background-color: #c22414;
	transition: all .5s;
}

.red-btn:hover {
	color: #c22414;
	background-color: #f39c12;
	border-color: #c22414;
}

.red-btn:focus {
	color: white;
	border-color: transparent;
	background-color: #c22414;
	outline: none;
}

.red-btn-inv {
	color: #c22414;
	background-color: #f39c12;
	border-color: #c22414;
	transition: all .5s;
}

.red-btn-inv:hover {
	color: #f39c12;
	border-color: transparent;
	background-color: #c22414;
}

.label-default {
	background-color: #ecf0f1;
}	

.confirmation {
	display: none;
	position:fixed;
  padding: 20px;
	width: 100%;
	text-align: center;
	font-size: 18px;
	z-index:11;
}

.failure {
	background-color: #e74c3c;
}

.success {
	background-color: #2ecc71;
}

.lateral-space {
	margin-left: 10px;
	margin-right: 10px;
}

.top-space {
  margin-top: 10px;
}

.bottom-space {
  margin-bottom: 10px;
}

.big-bottom-space {
  margin-bottom: 40px;
}

.red-text {
  color: #c22414;
}

.info-box {
  margin: 200px auto;
  width: 90%;
  text-align: center;
  padding: 10px;
}

.info-box-input {
  margin:0 auto;
  width: 400px;
}

@media (max-width: 480px) {
  .info-box-input {
    width: 200px;
  }
}

/*NAVBAR*/

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:hover {
	color: white;
	text-decoration: underline;
}

.navbar {
	margin: 0;
	background-color: transparent;
	border: none;
}

@media (max-width: 480px) {
    .nav, .navbar-nav{
      width: 100%;
      margin: 0 !important;
    }

    .navbar-collapse {
      width:100%;
      padding: 0;
      margin: 0 !important;
    }

    .nav li {
      margin: 2px 0 2px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      border-radius: 0;
    }

    #navbar-container{
      margin-bottom: 100px;
    }

    .navbar-brand {
      color: #504f4f !important;
    }
}

/*BANNER*/

#banner {
  width: 100%;
  height: 340px;
  margin-top:-50px;
  margin-bottom: 100px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
}

.countdown{
  text-align: center;
  font-weight: 100;
  margin-top: 80px;
}

.adv {
  color: #fff;
}

.free-delivery {
  font-size: 55px;
}

#clockdiv{
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
	margin: 5px;
  padding: 10px;
  border-radius: 3px;
  background: #f39c12;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #f39c12;
  display: inline-block;
}

@media (max-width: 480px) {
    #banner {
      height: 300px;
    }

    .countdown {
      margin-top: 10px;
    }
}

/*MEALS*/

.thumbnail {
  padding: 0;
  background-color: #fff;
  border: 0;
}

.meal-picture {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.meal-name {
	margin-top: 0;
  margin-bottom: 15px;
	font-size: 15px;
	cursor: hand;
	cursor: pointer;
}

.meal-delivery {
  padding: 5px;
  background-color: #f39c12;
  color: #c22414;
}

.meal-orders {
  position: absolute;
  top: -10px;
  right: 5px;
  padding:5px 11px 5px 11px;
  border-radius: 20px;
  border: 3px solid #ecf0f1;
  color: white;
  font-weight: bold;
  font: 18px;
  background-color: #c22414;
}

.price {
  position: absolute;
  top : 5px;
  left : 20px;
	color: white;
	font-size:110%;
	margin: 4px;
	padding: 4px;
	border-radius: 10px;
  border: 1px solid white;
}

.no-meals {
  padding:50px 0 50px 0;
  font-size: 50px;
}

.no-meals a {
  color: #c22414;
  text-decoration: underline;
}

/*FOOTER*/
footer{
  margin-top: 100px;
  background-color:rgba(128,128,128,.2);
  width: 100%;
  border-top:1px solid rgba(128,128,128,.5);
  padding: 20px 0 20px 0;
  text-align: center;
}

footer h5{
  margin:0;
}

footer span{
  margin: 0 10px 0 0;
  color: #c22414;
}

/*
main red color: #c22414;
main gray color: #ecf0f1;
main yellow color: #f39c12;
success color: #2ecc71;
failure color: #e74c3c;
*/