html, body {
	font-family: 'Open Sans', sans-serif;
}

/*GENERAL*/

.page-header {
	border: none;
}

.red-btn {
	color: white;
	border-color: transparent;
	background-color: #c0392b;
	transition: all .5s;
}

.red-btn:hover {
	color: #c0392b;
	background-color: white;
	border-color: #c0392b;
}

.red-btn:focus {
	color: white;
	border-color: transparent;
	background-color: #c0392b;
	outline: none;
}

.red-btn-inv {
	color: #c0392b;
	background-color: white;
	border-color: #c0392b;
	transition: all .5s;
}

.red-btn-inv:hover {
	color: white;
	border-color: transparent;
	background-color: #c0392b;
}

.orange-btn {
  color: white;
  border-color: transparent;
  background-color: #d35400;
  transition: all .5s;
}

.orange-btn:hover {
  color: #d35400;
  background-color: white;
  border-color: #d35400;
}

.label-default {
	background-color: #ddd;
}	

.confirmation {
	display: none;
	position:fixed;
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 18px;
	z-index:100;
}

.failure {
	background-color: #e74c3c !important;
}

.success {
	background-color: #2ecc71;
}

.lateral-space {
	margin-left: 10px;
	margin-right: 10px;
}


/*NAVBAR*/

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:hover {
	color: white;
	text-decoration: underline;
}

.navbar {
	margin: 0;
	background-color: transparent;
	border: none;
}

@media (max-width: 480px) {
    .nav, .navbar-nav{
      width: 100%;
      margin: 0 !important;
    }

    .navbar-collapse {
      width:100%;
      padding: 0;
      margin: 0 !important;
    }

    .nav li {
      margin: 0;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      border-radius: 0;
    }

    #navbar-container{
      margin-bottom: 60px;
    }
}

/*BANNER*/
#banner {
  width: 100%;
  height: 340px;
  margin-top:-50px;
  margin-bottom: 100px;
  background-color: #c0392b;
  background-image: url("../images/banner1.jpg");
  background-size: cover;
}

.countdown{
  text-align: center;
  font-weight: 100;
  margin-top: 160px;
}

.countdown > h1 {
  color: #c0392b;
  font-weight: 100;
  font-size: 35px;
  text-shadow: -1px 0 #F4F3F2, 0 1px #F4F3F2, 1px 0 #F4F3F2, 0 -1px #F4F3F2;
}

.countdown > h5 {
  font-weight: bold;
}

#clockdiv{
  color: #c0392b;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
	margin: 5px;
  padding: 10px;
  border-radius: 3px;
  background: #F4F3F2;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #EAEAE9;
  display: inline-block;
}

/*MEALS*/

.meal-name {
	margin-top: 0;
	font-weight: 600;
	font-size: 130%;
	cursor: hand;
	cursor: pointer;
}

.meal-delivery {
  background-color: #337ab7;
}

.prices {
	padding: 5px;
}

.price {
	color: white;
	font-size:110%;
	margin: 4px;
	padding: 4px;
	border-radius: 10px;
}

.more-info {
	padding:5px;
}

/*FOOTER*/
footer{
  margin-top: 50px;
  background-color:rgba(128,128,128,.2);
  width: 100%;
  border-top:1px solid rgba(128,128,128,.5);
  padding: 20px 0 20px 0;
  text-align: center;
}

footer h5{
  margin:0;
}

footer span{
  margin: 0 10px 0 0;
  color: #c0392b;
}

/*
main red color: #c0392b;
main orange color: #d35400;
main blue color: #337ab7;
main gray color: #ddd;
success color: #2ecc71;
failure color: #e74c3c;
*/