html,body,.container-fluid,.row,#content-box {
	height:100%;
	margin:0;
	padding:0;
	overflow-y: hidden;
}

#content-box {
	height:100%;
	width:100%;
	background-color: #fff;
	color: #c0392b;
}

.content {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 15% auto;
	text-align: center;
}

.text {
	float: left;
	width:100%;
}

.choice {
	float:left;
	width:100%;
	margin-top: 20px;
	text-align:center;
}