@media screen and (max-width: 480px) {

    .menu-banner {
      background-image: url('../images/banners/phone_menu.jpg');
      font-size: 90%;
      padding: 5vh;
    }

    .rating-container {
      padding-top: 8vh;
    }

}
