.menu {
  margin-top: 5vh;
}

.menu-banner {
  padding: 15vh;
  color: white;
  background-image: url('../images/banners/menu.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.rating-container {
  padding: 2vh;
}

.rating-container .meal-picture {
  border-radius: 3px;
}

.rating-container .meal-name {
  margin-top: 0;
}

.star {
  margin-right: 10px;
}

.star:hover {
  color: #ff9933;
  cursor: hand;
  cursor: pointer;
}

.join-our-community {
  padding: 50px 0 50px 0;
}
