<!DOCTYPE html>
<html>
<head>
	<title>Food 305</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/welcome.css" />
</head>
<body>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-xs-12' id='content-box'>
				<div class='content' id='first-section'>
					<div class='text'>
						<h1>
							Food 305
						</h1>
						<h2>
			        Get your food delivered <b>for free</b>
			      </h2>
			    </div>
			    <div class="choice">
			    	<div class="btn-group">
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Select Your University <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu">
						    <li><a href='#'>Washington University in St. Louis</a></li>
						    <li class="dropdown-header"> More coming soon</li>
						  </ul>
						</div>
			    </div>
				</div>
				<div class='content' id='second-section'>
					<div class='text'>
						<h1>
							Food 305
						</h1>
						<h2>
			        We deliver to <b>Lopata</b> Saturday and Sunday at <b>2:00 pm</b><br/>
			        You can order your food anytime before <b>12:00 pm</b>
			      </h2>
			    </div>
				  <div class="choice">
				  	<div class='btn-group'>
							<button type="button" class="btn btn-default" onclick="start()">
							    Start
							</button>
						</div>
				  </div>
			  </div>
			</div>
		</div>
	</div>
	<script>

		$(".dropdown-menu li a").click(function(){
			$('#first-section').slideUp()
		});

		function set_cookie (cname, cvalue, exdays) {
				let d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

		function start () {
			set_cookie('new_user','no',2)
			window.location.href = '/index.html'
		}

	</script>
</body>
</html>