#banner {
	height: 500px;
	background-color: #337ab7;
	background-image: url('../images/general/banner2.png');
	background-size: cover;
	background-repeat: no-repeat;
}

#banner-text {
	color: white;
	margin-top: 20px;
	padding: 0 15px 0 15px;
	font-weight: bold;
	/*background-color: #337ab7;
	-webkit-box-shadow: 3px 4px 15px 1px rgba(0,0,0,0.46);
	-moz-box-shadow: 3px 4px 15px 1px rgba(0,0,0,0.46);
	box-shadow: 3px 4px 15px 1px rgba(0,0,0,0.46);*/
}

