#banner {
	height: 300px;
	border-bottom: 1px solid #ddd;
}

#banner-text {
	color: white;
	margin-top: 40px;
	font-weight: bold;
}

/*
main blue color: #337ab7;
main gray color: #ddd;
success color: #00C851;
failure color: #ff4444;
*/

