#nav {
	margin-top:40px;
}

#nav a {
	cursor: pointer;
	cursor: hand;
}

#profile-info{
	margin-top:40px;
	border-bottom: 1px solid #ddd;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.lateral-space {
	padding: 0 20px 0 20px;
}

.current-price {
	color: white;
	font-size:110%;
	padding: 4px;
	border-radius: 10px;
}

.food-name {
	margin-top: 0;
}