.navbar, .navbar-default {
	border:0;
	border-radius:0;
	background-color: white;
}

.section {
	margin-top: 20px;
}

.lateral-space {
	padding: 0 20px 0 20px;
}

.current-price {
	color: white;
	font-size:110%;
	padding: 4px;
	border-radius: 10px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}