html,body,.container-fluid,.row,#right-side,#left-side {
	height:100%;
	margin:0;
	padding:0;
	overflow-y: hidden;
}

#text {
	position: absolute;
	top: 25%;
	right:15px;
	left:15px;
	padding: 10px;
}

#left-side {
	background-size: cover;
}

#right-side {
	background-color: #337ab7;
	color:white;
}

#first-selection, #second-selection{
  position: relative;
	height:100%;
	width:100%;
	text-align: center;
}

#first-selection .btn-group, #second-selection .btn-group{
	display: inline-block;
	top: 50%;
}