html,body,.container-fluid,.row,#right-side,#left-side {
	height:100%;
	margin:0;
	padding:0;
	overflow-y: hidden;
}

#left-side {
	background-size: cover;
}

#right-side {
	background-color: #932C15;
	color:white;
}

#first-selection, #second-selection{
  position: relative;
	height:100%;
	width:100%;
}

.content {
	position: relative;
	width: 80%;
	height: 40%;
	margin: 30% auto;
	text-align: center;
}

.text {
	float: left;
	width:100%;
}

.choice {
	float:left;
	width:100%;
	margin-top: 20px;
	text-align:center;
}