<!DOCTYPE html>
<html>
<head>
	<title>Food 305</title>
	<!-- jquery from CDN -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<!-- bootstrap from CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	<!-- end -->
	<!-- my css -->
	<link rel='stylesheet' href='css/main.css'>
	<link rel='stylesheet' href='css/index.css'>
	<!-- end -->
</head>
<body>
	{{{ body }}}
</body>
</html>